@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #ffffff;
  /* Light theme background */
  --textColor: #000000;
  /* Light theme text */
}

.dark {
  --bgColor: #000000;
  /* Dark theme background */
  --textColor: #ffffff;
  /* Dark theme text */
}

@layer base {
  body.dark {
    @apply bg-gray-800 text-gray-200;
  }
}